  <ng-container>
    <h1 id="title">
      <p class="text-center">API Cedulas OCR <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
          <path
            d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        </svg></p>
    </h1>
  </ng-container>

  <ng-container>
    <div class="text-center">
      <h6>Agrega el archivo que necesites Aplicar la Tecnologia OCR de recoleccion de Datos <p class="fst-italic">(Es
          necesario que sea una Cedula)</p>
      </h6>
    </div>
  </ng-container>

  <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 35rem;">
    <h5 class="card-title text-center ">Cedula de Identidad</h5>
    <!-- PREVISTA DE LA IMAGEN -->
    <div *ngIf="preview">
      <img width="515px" [src]="preview" alt="">
    </div>
    <div>
      <p class="card-text text-center"> Agregar una imagen de alguna cedula de identidad Ecuatoriana, puede ser tanto la
        parte frontal como la trasera de este documento.</p>
      <div class="mb-3">
        <!-- definir componenete -->
        <input (change)="capturarFile($event)" class="form-control" type="file" id="formFile">
      </div>

      <div>
        <button type="button" [disabled]="loading" (click)="subirArchivo()">{{(loading) ? 'Cargando ...' : 'Subir Archivo'}}</button>
      </div>

    </div>

  </div>

  <div class="card shadow p-3 mb-5 bg-body rounded" *ngIf="loading == false" style="width: auto; margin: 15px;">
    <h5 class="card-text text-center" >Información de la cedula</h5>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">CAMPO</th>
          <th scope="col">TEXTO</th>
        </tr>
      </thead>
      <tbody class="post">
        <tr>
          <td scope="row"> {{this.llaves[0]}}</td>
          <td scope="row" >{{this.information_cedulas.cedula.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[6]}}</td>
          <td scope="row" >{{this.information_cedulas.nombres.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[3]}}</td>
          <td scope="row" >{{this.information_cedulas.lugar_nacimiento.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[4]}}</td>
          <td scope="row" >{{this.information_cedulas.fecha_nacimiento.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[5]}}</td>
          <td scope="row" >{{this.information_cedulas.nacionalidad.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[7]}}</td>
          <td scope="row" >{{this.information_cedulas.sexo.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[1]}}</td>
          <td scope="row" >{{this.information_cedulas.estado_civil.text_ocr}}</td>
        </tr>
        <tr>
          <td scope="row" > {{this.llaves[8]}}</td>
          <td scope="row" >{{this.information_cedulas.fecha_expiracion.text_ocr}}</td>
        </tr>
      </tbody>
    </table>
  </div>