.card {
    padding: 10px;
    border-radius: 1rem;
    margin-top: 50px;
    margin: auto;
    border: black unset;
    width: 500px;
    padding-bottom: 30px;
}

img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px;
    border-radius: 2rem;
    box-shadow: 1px;
}

h1 {
    margin-top: 30px;
}

div#buttons{
    margin-top: 10px;
    text-align:center;
}
div#button2{
    margin-top: 10px;
    text-align:center;
}

button#uptade {
    margin: -30px -50px;
    position: relative;
    top: 50%;
    left: 50%;
    border: 1px solid;
    box-shadow: 1px;
    border-radius: 3px;
    bottom: 50%;
}

table {
    margin-top: 10px;
    border-radius: 10px;
}

button.icon {
    margin-top: 10px;
    width: 100px;
    height: auto;
}

.padre {
    position: relative;
    
}

.hijo {
    position: absolute;
    top: 60;
}

canvas{
    border-radius: 1rem;
}

#campos{
    padding: 35px;
}

table{
    align-items: center;
}