<h1 class="text-center">Como usar la API-CEDULAS-OCR</h1>

<p>Este es un tutoria de como usar la aplicación API-CEDULAS-OCR, lo primero es ubicarse en la página <a href="/">principal</a> y ubicarnos en <b>Choose File </b><i>(Seleccionar Archivo)</i></p>
<div>
<img src="../../../assets/images/choose.jpg" class="img-fluid" alt="Seleccionar Imagen">
</div>

<p>Luego escogemos una imagen con extenciones: <i>.jpg, png, gif</i>.</p>
<div >
    <img id="seleccion" src="../../../assets/images/image.PNG" alt="Seleccion">
</div>
<br>
<p>A continuacion se mostrará una previsualización de la imagen seleccionada.</p>
<div>
    <img src="../../../assets/images/Previsualizacion.PNG" alt="Previsualizacion de la Imagen">
</div>
<p>Enviamos la imagen al servidor usando el boton <b>Subir Archivo</b>. Lo que hara una peticion al servidor y retornara los datos que se encuentre en el Documento.</p>
<div>
    <img src="../../../assets/images/subirArchivo.PNG" alt="Subir Archivo">
</div>